<div class="container">
    <div class="col">
        <h1 style="margin-top: 70px">List of Stock<br />Companies</h1>
        <ul>
            <li>Company 1</li>
            <li>Company 2</li>
            <li>Company 3</li>
            <li>Company 4</li>
            <li>Company 5</li>
            <li>Company 6</li>
            <li>Company 7</li>
            <li>Company 8</li>
            <li>Company 9</li>
            <li>Company 10</li>
        </ul>
    </div>
    <div class="col right">
        <div>
            <p class="mat-display-2">Report Dashboard</p>
            <p class="mat-title">Most active 10 companies</p>
            <div class="chart">
                <canvas id="companyChart"></canvas>
            </div>
        </div>
        <div>
            <p class="mat-title">Last 5 days Stock values</p>
            <div class="chart">
                <canvas id="stockChart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col down">
        <h1 class="mat-display-2">News</h1>
        <p class="mat-title">Latest Hacker News</p>
        <ul>
            <li>This is a list item</li>
            <li>Another list item</li>
            <li>Yup, another list item</li>
            <li>Another list item</li>
            <li>This is a list item</li>
            <li>Yup, another list item</li>
            <li>This is a list item</li>
            <li>Another list item</li>
            <li>This is a list item</li>
            <li>Yup, another list item</li>
        </ul>
    </div>
    <div class="col right2 down">
        <div>
            <p class="mat-title">Top Stories Hacker News</p>
        <ul>
            <li>This is a list item</li>
            <li>Another list item</li>
            <li>Yup, another list item</li>
            <li>Another list item</li>
            <li>This is a list item</li>
            <li>Yup, another list item</li>
            <li>This is a list item</li>
            <li>Another list item</li>
            <li>This is a list item</li>
            <li>Yup, another list item</li>
        </ul>
        </div>
    </div>
</div>
